td {
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
    font-family: "MyriadRegular",sans-serif;
    font-size: 11px;
}
h4 {
    margin-top:5px;
    margin-bottom:5px;
}
h3 {
    margin-top:10px;
    margin-bottom:10px;
}
.column-number {
    text-align: right;
    width:15%;
}
.column-text-margin {
    padding-left: 20px;
}

.text-center {
    text-align: center;
}
h1 {
    font-size: 26px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 12px;
}
.table-bordered-report td {

    border: 0.2mm solid #696969;
}