@font-face {
    font-family: 'chaparral_proregular';
    src: url('/css/fonts/chaparralpro-regular-webfont.eot');
    src: url('/css/fonts/chaparralpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/chaparralpro-regular-webfont.woff') format('woff'),
    url('/css/fonts/chaparralpro-regular-webfont.ttf') format('truetype'),
    url('/css/fonts/chaparralpro-regular-webfont.svg#abeatbykairegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    /*min-height: 1000px;
    padding-top: 140px;*/
    font-family: Arial,Helvetica,sans-serif;

}
.inner-bx ul{
    padding-left: 0px;
}
#header
{
    background-color:#018dbe;
}

#navigation
{
    background-image: url("../images/nav-bg.jpg");
    background-repeat: repeat-x;
    float: left;
    height: 40px;
    width: 100%;
    font-size: 17px;
}
.navbar-brand {
    display: none;
}
.logo {
    float: left;
    margin-top: 6px;
    padding: 15px 0;
    width: auto;
}

.navbar
{
    font-family: 'chaparral_proregular', sans-serif;
    min-height: 40px;
    margin-bottom: 0px;
    border:0px;
    background-color: transparent;
    z-index: 10;
}
#navbar {
    padding-left: 0px;
    padding-right: 0px;
}


.navbar-default .navbar-nav > li > a {
    color: #ccf1f6;
    padding: 10px 22px 8px;
    text-transform: uppercase;
}

.login-form .col-lg-2, .login-form .col-md-2,  .login-form .col-sm-2, .login-form .col-xs-2 {
    padding-right: 0px;

}
.container
{
    padding-left: 0px;
    padding-right: 0px;
}
.container-margin-top
{
    margin-top: 50px;

}


.container-margin-top h1 {
    color: #004a73;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "chaparral_proregular";
    margin-bottom: 28px;
}

.navbar-default .navbar-nav > li
{
    border-left: 1px solid #004863;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav >li  a:hover
{
    color: #ebd417;
    background-color: inherit;
}


.login-btn {
    background: #e6a900 none repeat scroll 0 0;
    border-radius: 2px;
    border:0px;
    color: #fff;
    float: right;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    width: auto;

}
.login-form {
    margin-top: 40px;
}

.frmfield {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 0 solid #bdbdbd;
    color: #807e7e;
    font-size: 13px;
    font-weight: normal;
    padding: 6px 5px;
    text-decoration: none;
    width: 100%;
}


.frmfield2 {
    background-color: #fff;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #bdbdbd;
    float: left;
    font-size: 13px;
    font-weight: normal;
    padding: 7px 5px;
    text-decoration: none;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 97%;
    border: 1px solid #bdbdbd;
    margin-top: 20px;
    font-family: 'chaparral_proregular', sans-serif;
}

.container-fluid
{
    padding: 0px;
}
#banner  {
    width: 100%;
}

#banner img {
    vertical-align: top;
    width: 100%;
}

#joinus-bx {
    border: 1px solid #ffffff;
    font-family: 'chaparral_proregular', sans-serif;
    position: absolute;
    right: 15px;
    top: 51px;
    width: 328px;
}

.joinus-bx1 {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 38px 0 10px;
    position: relative;
    width: 330px;
}
.joinus-bx1 h2 {
    background: rgba(0, 0, 0, 0) url("/images/ribbon.png") no-repeat scroll 0 0;
    color: #033d51;
    font-size: 32px;
    font-weight: bold;
    height: 49px;
    left: -14px;
    padding-top: 3px;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 358px;
    font-family: 'chaparral_proregular', sans-serif;
}

.joinus-bx1 p {
    color: #353535;
    font-size: 13px;
    padding: 0 36px;
    text-align: center;
}

.banner-bott-left .style a {
    color: #00d8f5;
    text-decoration: underline;

}
.get-btn {
    background: rgba(0, 0, 0, 0) url("/images/get-it.png") no-repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    line-height: 36px;
    margin-bottom: 130px;
    margin-top: 24px;
    text-align: center;
    text-decoration: none;
    width: 257px;
}

.tips-banner {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100%;
}
.tips-banner img
{
    width: 100%;
}
.arrow {
    bottom: 130px;
    position: absolute;
    right: -100px;
    width: auto;
}

.banner-bott {
    background: #1c3323 none repeat scroll 0 0;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.banner-bott-left {
    color: #ecd727;
    float: left;
    font-family: 'chaparral_proregular', sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 15px;
    line-height: 1.2;
}


.banner-bott-left .style {
    color: #ccf1f6;
    font-size: 28px;
    margin-top: 0px;
}



.social {
    background: rgba(0, 0, 0, 0) url("/images/bgsocial.jpg") repeat-x scroll 0 0;
    float: right;
    padding-top: 30px;
    padding-bottom:15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

}
.social span {
    color: #ffffff;
    font-family: 'chaparral_proregular', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}
.banner-bott-left p{
    margin-bottom: 0px;
}

.main-content-left h2
{
    color: #00638a;
    font-size: 28px;
    font-family: 'chaparral_proregular';
    font-weight: bold;
}


.bottom-bx {
    border: 1px solid #ddd;
    float: left;
    margin-top: 40px;
    padding: 2% 2%;
    width: 100%;
}

.bottom-bx h2 {
    color: #e47203;
    font-size: 26px;
    font-weight: bold;
}

.bottom-bx ul {
    float: left;
    margin-left: 13px;
    margin-top: 10px;
    width: 90%;
}

.bottom-bx ul li {
    background-image: url("/images/arrow1.png");
    background-position: left 5px;
    background-repeat: no-repeat;
    clear: both;
    float: left;
    font-weight: bold;
    list-style: outside none none;
    margin-bottom: 15px;
    padding-left: 24px;
    line-height: 25px;
}



.bottom-bx ul li a {
    color: #5b5b5b;
    text-decoration: none;
}
.bottom-bx ul li a:hover {
    color: #00638a;
    text-decoration: underline;
}


.animation-banner {
    float: right;
    margin-top: 14px;
}

#footer {
    background: #017ca7 none repeat scroll 0 0;
    color: #fff;
    float: left;
    margin-top: 30px;
    width: 100%;
}

#footer .social-1 {
    padding-top: 30px;
    width:100%;
}

.nav1 {
    float: left;
    margin-top: 22px;

}
.nav1 li {
    border-right: 1px solid #b3bd96;
    color: #fff;
    display: block;
    float: left;
    font-size: 13px;
    padding: 0 13px;
    text-align: left;
    text-decoration: none;
}
.nav1 li a {
    color: #fff;
    float: left;
    text-decoration: none;
}

#quick-links
{
    width:490px;
    height:30px;
}

.link-style {
    color: #017ca7;
    font-weight: bold;
}

.aset h3
{
    font-size:16px;
    font-weight: bold;
    margin:0px;
}

.live-demo {
    background: rgba(0, 0, 0, 0) url("/images/inset_bg.png") repeat scroll 0 0;
    border-radius: 4px;
    color: #525252;
    float: left;
    font-size: 14px;
    line-height: 22px;
    padding: 2%;
    width: 100%;
}

.live-demo .inner-bx {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 10px;
    width: 100%;
    margin-bottom: 22px;
}
.live-demo h3 {
    color: #005a82;
    font-size: 18px;
}

.live-demo .inner-bx ul {
    float: left;
    margin-left: 13px;
    margin-top: 10px;
    width: 90%;
}

.live-demo .inner-bx ul li {
    background-image: url("/images/tick.png");
    background-position: left -3px;
    background-repeat: no-repeat;
    clear: both;
    float: left;
    font-weight: bold;
    list-style: outside none none;
    margin-bottom: 15px;
    padding-left: 30px;
}


.textimonials-col1 {
    background: rgba(0, 0, 0, 0) url("../images/inset_bg.png") repeat scroll 0 0;
    border-radius: 4px;
    float: left;
    margin-bottom: 35px;
    margin-right: 35px;
    min-height: 170px;
    padding: 2%;
    width: 47%;
    line-height: 1;
}
.textimonials-col1 .pic {
    float: left;
    width: 20%;
}
.textimonials-col1 .pic img {
    width: 100%;
}
.textimonials-col1 .info {
    color: #373737;
    float: right;
    font-size: 13px;
    width: 75%;
}
.textimonials-col1 .info h2 {
    color: #004a73;
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 0px;
    font-family: "chaparral_proregular";
    font-weight: bold;
}

.textimonials-col1 .info .style1 {
    color: #004a73;
}
.textimonials-col1 .info p {
    margin: 0;
    padding: 0;
}
/**************learnmore start*****/
.learn-more .tab-button {
    border-bottom: 3px solid #017ca7;
    float: left;
    position: relative;
    width: 100%;
}

.asset ul {
    padding-left: 20px;
}

.learn-more .tab-button a {
    background-color: #017ca7;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: -3px;
    margin-left: 10px;
    padding: 12px 20px;
    text-decoration: none;
    width: auto;
}

.learn-more .tab-button a:hover {
    background-color: #004a73;
}

.learn-more .aset {
    background: rgba(0, 0, 0, 0) url("/images/inset_bg.png") repeat scroll 0 0;
    border-radius: 4px;
    color: #525252;
    float: left;
    font-size: 14px;
    line-height: 22px;
    margin-top: 22px;
    padding: 2%;
    width: 100%;
}
.learn-more .aset .left {
    float: left;
    margin-top: 20px;
    width: 46%;
}

.learn-more .aset .left1 {
    float: left;
    margin-top: 20px;
    width: 51%;
}
.learn-more .aset .right1 {
    float: right;
    margin-top: 20px;
    width: 46%;
}
.learn-more .style3 {
    color: #808080;
    float: left;
    font-size: 14px;
    margin-top: 22px;
    width: 100%;
}
.learn-more .tab-button .back {
    background: rgba(0, 0, 0, 0) url("/images/back.png") no-repeat scroll left center;
    color: #004972;
    float: left;
    font-size: 14px;
    padding-left: 16px;
    text-transform: uppercase;
    width: auto;
}
.learn-more .tab-button .active {
    background: #004a73 none repeat scroll 0 0;
}


/**************learnmore end *****/
/**************contact us start***/
.reachus {
    background: #c7dff4 none repeat scroll 0 0;
    color: #4a4a4a;
    float: left;
    font-size: 16px;
    line-height: 30px;
    padding: 2% 2%;
    text-align: center;
    width: 30%;
}
.reachus h3 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 12px;
    margin-top:0px;
}
.map {
    float: right;
    width: 63%;
}

.contact-info {
    float: left;
    margin-top: 22px;
    width: 100%;
}

.contact-info .col-1 {
    float: left;
    margin: 10px 0;
    width: 48%;
    min-height: 130px;
}

.contact-info h3 {
    background: #dddddd none repeat scroll 0 0;
    color: #4a4a4a;
    font-size: 16px;
    margin-bottom: 17px;
    padding: 9px 10px;
}

.contact-info .col-2 {
    float: right;
    margin: 10px 0;
    width: 48%;
    min-height: 130px;
}

.contact-info p {
    color: #4a4a4a;
    font-size: 14px;
    line-height: 22px;
    margin-left: 10px;
}
/**************contact us end*****/
/**************organization start*****/
.live-demo1 {
    background: rgba(0, 0, 0, 0) url("/images/inset_bg.png") repeat scroll 0 0;
    border-radius: 4px;
    color: #525252;
    float: left;
    font-size: 14px;
    line-height: 22px;
    padding: 2%;
    width: 70%;
}

.col-det1 {
    float: left;
    width: 28%;
}

.col-det1 img {
    width: 100%;
}
.right-sec {
    float: right;
    width: 69%;
}

.live-demo1 .inner-bx {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin-bottom: 22px;
    margin-top: 15px;
    padding: 2%;
    width: 100%;

}
.live-demo1 .inner-bx ul {
    float: left;
    margin-left: 0px;
    margin-top: 10px;
    width: 90%;
    padding-left: 10px;
}

.live-demo1 .inner-bx ul li {
    background-image: url("/images/tick.png");
    background-position: left -3px;
    background-repeat: no-repeat;
    clear: both;
    float: left;
    font-weight: bold;
    list-style: outside none none;
    margin-bottom: 15px;
    padding-left: 30px;
}
.container-right {
    float: right;
    margin-top: -14px;
    width: 28%;
}
.link_cls {
    color: #5b5b5b;
    font-weight: bold;
    text-decoration: none;
}
/**************organization end*****/
/**************training start*****/
.style2 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #00638a;
    font-family: "chaparral_proregular";
    font-weight: bold;
}
.container-left {
    color: #5b5b5b;
    float: left;
    font-size: 14px;
    line-height: 25px;
    margin-top: 0px;
    width: 69%;
}

.bottom-bx1 h2 {
    color: #e47203;
    font-size: 26px;
    font-family: "chaparral_proregular";
    font-weight: bold;
}

.bottom-bx1 {
    border: 1px solid #ddd;
    float: left;
    margin-bottom: 15px;
    margin-top: 40px;
    padding: 2% 2%;
    width: 100%;
}

.bottom-bx1 h3 {
    clear: both;
    color: #004c75;
    float: left;
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

.bottom-bx1 ul {
    float: left;
    margin-left: 13px;
    margin-top: 10px;
    width: 90%;
    padding-left: 10px;
}


.bottom-bx1 ul li {
    background-image: url("/images/arrow1.png");
    background-position: left 5px;
    background-repeat: no-repeat;
    clear: both;
    float: left;
    font-weight: bold;
    list-style: outside none none;
    margin-bottom: 5px;
    padding-left: 24px;
}


/**************training end*****/
/**************demo start*****/
.live-demo .blue-strip {
    background: #27a9f0 none repeat scroll 0 0;
    float: left;
    margin-top: 15px;
    padding: 1%;
    text-align: center;
    width: 100%;
}
.live-demo .blue-strip a {
    color: #fff;
    font-size: 22px;
    text-decoration: underline;
}

.live-demo h3 {
    color: #005a82;
    font-size: 18px;
    font-weight: bold;
}

/**************demo end*****/
/**************reg start*****/
.registration h1{
    font-size: 24px;
    margin-top: 22px;
    text-transform: uppercase;
}
.form-horizontal .control-label{
    text-align:left !important;
}

#regform label {
    min-width: 100px;
    color:#327299;
    margin-right: 20px;
}

#regform .text-left label {
    text-align: right;
}

#regform h2 {
    color:#004a73;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "chaparral_proregular";
}


#regform .row
{
    margin-bottom: 10px;
}
#regform textarea {
    width: 100%;
}


 .save-btn .button {
    background: #018dbe none repeat scroll 0 0;
    border: 1px solid #006d93;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 22px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
.save-btn .button:hover {
    background-color: #006d93;
}
.cancel-btn .button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #018dbe;
    border-radius: 3px;
    color: #018dbe;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 22px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
.cancel-btn .button:hover {
    background-color: #018dbe;
    color:#fff;
}
#regform  .radio label
{
    text-align: left;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
tr td:first-child{
    text-align: left;
   /* padding-bottom:0px;*/
}
tr td:first-child + td{
    text-align: right;
    /*padding-top:12px;*/
}
.table img {
    margin-right: 5px;
/*    margin-bottom: 8px;*/
}
#regform .field-order-comments{
    width: 100%;
}

.field-order-billing_cardexp_year {
    margin-left:15px;
}

.text-left .help-block {
    text-align: right;
}
#order-billing_cardnumber{
    font-weight: bold;
    font-size:18px;
}

#regform input[type=text],#regform input[type=password]{
    width:220px;
}
/*
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding-bottom:0px;
}
*/
/**************reg end*****/
#footer .bottom {
    border-top: 1px solid #4d9fbc;
    color: #fff;
    float: left;
    font-size: 12px;
    margin-top: 5px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
#footer .bottom p {
    margin-bottom: 0px;
}

#index_main_content{padding-left:10px;padding-right:10px;}

@media screen and (min-width: 320px) and (max-width: 767px)
{
    #joinus-bx{ display:none;}
    #regform .text-right{
        text-align: left;
    }
    #regform .text-left label{
        text-align: left;
    }


    .learn-more .tab-button a{margin:0px 5px; padding:12px 16px;}
    .learn-more .aset .left{width:100%;}
    .learn-more .aset .left img{width:100%;}
    .learn-more .aset .right1{width:100%;}
    .learn-more .aset .right1 img{width:100%;}
    .learn-more .aset .right{width:100%;}
    .learn-more .aset .left1{width:100%;}

    .container-left{width:100%; }
    .container-left h1{ font-size:27px;}

    .container-right{width:100%; padding:4%;}
    .animation-banner{width:100%;}
    .animation-banner img{width:100%;}

    .textimonials-col1{ width:100%; margin-bottom:15px; margin-right:0px; min-height: 50px;}

    .reachus{ width:100%;}
    .map{ width:100%; margin-top:20px;}
    .contact-info .col-1{ width:100%; min-height: 50px;}
    .contact-info .col-2{ width:100%; min-height: 50px; }

    .social{width:100%; padding:2% 0%; text-align: left}
    .social span:first-child { font-size:25px;margin-left: 20px;}

    .live-demo1{width:100%;}
    .live-demo1 h1{font-size:28px;}
    .live-demo1 .col-det1{width:100%;}
    .live-demo1 .right-sec{width:100%;padding-top:10px;}

    .navbar-default .navbar-brand {display: inline-block;
        color: #ffffff;
        font-weight: bold;
        font-family: Arial,Helvetica,sans-serif;
        margin-left: 15px;
        padding-top: 10px;
        font-size: 16px;
    }
    .navbar-default .navbar-brand img
    {
        width: 150px;

    }
    .navbar-toggle {
        margin-top:4px;
        margin-right:30px;
    }

    .logo {
        display:none;
    }

    .login-form {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar-default .navbar-nav > li > a
    {
        background-color: #4e4d4d;
        border-top: 1px solid #fff;
        font-size: 14px;
        padding: 10px 50px 8px;
    }
    .navbar-default .navbar-nav > li > a:hover
    {
        background-color: #636262;
    }
    .navbar-default .navbar-nav > .active > a{
        background-color: #4e4d4d;
    }
    .navbar-default .navbar-nav > .active > a:hover{
        background-color: #4e4d4d;
    }
    #menuarea {
        margin-top: 0px;
    }
    #regform input[type=text],#regform input[type=password]{
        width:100%;
    }
    .field-order-billing_cardexp_year {
        margin-left: 0px;
    }


}
@media screen and (min-width:768px) and (max-width:979px)
{
    #joinus-bx{ display:none;}
    .nav {
        font-size: 13px;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 12px 10px 8px;
   }
}
@media screen and (min-width:980px) and (max-width:1024px) {
    .navbar-default .navbar-nav > li > a {
        padding: 10px 12px 8px;
    }
    .nav {
        font-size: 15px;
    }
    .container {width:100%;}

}
@media screen and (min-width:1025px) and (max-width:1200px) {
    .navbar-default .navbar-nav > li > a {
        padding: 10px 12px 8px;
    }
    .nav {
        font-size: 15px;
    }

}

@media screen and (min-width: 320px) and (max-width: 1200px) {

    .container-margin-top {
        padding-right: 10px;
        padding-left: 10px;
    }
    .container {width:100%;}
    .social {
        padding-left: 5px;
        padding-right: 10px;
    }
    .banner-bott-left .style
    {
        font-size: 23px;
    }
    .banner-bott-left p
    {
        font-size: 18px;
    }

    .banner-bott-left{
        padding-top: 20px;
        text-align: center;
        padding: 10px 5px;
    }
    .social span {
        font-size:21px;
    }

}
@media screen and (min-width: 0px) and (max-width: 420px) {
    .login-form .col-xs-4 {
        padding-right: 0px;

    }
}

table.user-confirm-registration th {
    width: 200px;
}
