/*===colors of auto page*/
/*sidebar*/
.sidebar-menu-widget ul li.active,
.sidebar-menu-widget ul li:hover{
    border-left: 4px solid #be804f;
}

/*menu color when active*/
.menu-item.active p{
    color: #b5723e !important;
}

/*table log*/

/*btn refresh and transaction*/
.btn-success{
    background: #bf7f4f;
    border-color: #bf7f4f;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover,
.btn-success.focus,
.btn-success:focus{
    background: #bf7f4f;
}
/*btn actions edit delete save*/
.btn-action.active {
    background-color: #e2a06c;
    border-color: #e2a06c;
}

.btn-action.active:hover{
    background-color:#787878;
    border-color: #787878;
}

/*table log*/
.table-app table th{
    background: #bf7f4f;
}

.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #fff1e6;
}

.table-app table > tbody > tr.active{
    background-color: #f7dbc5 !important;
    border: 1px solid #c27f4a !important;
}
.table-app table > tbody > tr.active td{
    background-color: inherit !important;
    border-top: 1px solid #c27f4a !important;
    border-bottom: 1px solid #c27f4a !important;
    border-right: none;
    border-left: none;
}

.table-app table > tbody > tr:hover td{
    border-top: 1px solid #c27f4a !important;
    border-bottom: 1px solid #c27f4a !important;
    border-right: none;
    border-left: none;
}
.table-app table > tbody > tr:hover{
    border: 1px solid #c27f4a !important;
    background-color: #efefef !important;
}

/*datepiker styles*/
.datepicker td.active, .datepicker td.active:hover {
    background:  #e3a06c !important;
}

.glyphicon-calendar {
    color: #c27f4a;
}

.modal-header{
    background: #c27f4a;
}
.btn-add:hover{
    background-color:#bf7f4f;
    border-color: #bf7f4f;
}
.more{
    border: 1px solid #c27f4a;
}
.plus-text,
.minus-text,
.plus-text i,
.minus-text i{
    color: #c27f4a;
}
.select2-selection__clear {
    color: white !important;
    background: #bf7f4f;
}
