/*===colors of auto page*/
/*sidebar*/
.sidebar-menu-widget ul li.active,
.sidebar-menu-widget ul li:hover{
    border-left: 4px solid #5167a3;
}
/*menu color when active*/
.menu-item.active p{
    color: #5167a1 !important;
}

/*btn refresh and transaction*/
.btn-success{
    background: #5167a1;
    border-color: #5167a1;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover,
.btn-success.focus,
.btn-success:focus{
    background: #5167a1;
}
/*btn actions edit delete save*/
.btn-action.active {
    background-color: #8b9fd4;
    border-color: #8b9fd4;
}

.btn-action.active:hover{
    background-color:#787878;
    border-color: #787878;
}

/*table log*/
.table-app table th{
    background: #5167a1;
}

.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #e7edfb;
}

.table-app table > tbody > tr.active{
    background-color: #c3d1ee !important;
    border: 1px solid #5167a1 !important;
}
.table-app table > tbody > tr.active td{
    background-color: inherit !important;
    border-top: 1px solid #334b87 !important;
    border-bottom: 1px solid #5167a1 !important;
    border-right: none;
    border-left: none;
}

.table-app table > tbody > tr:hover td{
    border-top: 1px solid #5167a1 !important;
    border-bottom: 1px solid #5167a1 !important;
    border-right: none;
    border-left: none;
}
.table-app table > tbody > tr:hover{
    border: 1px solid #5167a1 !important;
    background-color: #efefef !important;
}

/*datepiker styles*/
.datepicker td.active, .datepicker td.active:hover {
    background:  #8b9fd4 !important;
}

.glyphicon-calendar {
    color: #5167a1;
}

.modal-header{
    background: #5167a1;
}
.btn-add:hover{
    background-color:#5167a1;
    border-color: #5167a1;
}
.more{
    border: 1px solid #5167a1;
}
.plus-text,
.minus-text,
.plus-text i,
.minus-text i{
    color: #5167a1;
}

.select2-selection__clear {
    color: white !important;
    background: #5167a1;
}
