/*===colors of auto page*/
/*sidebar*/
.sidebar-menu-widget ul li.active,
.sidebar-menu-widget ul li:hover{
    border-left: 4px solid #70a7bb;
}

/*menu color when active*/
.menu-item.active p{
    color: #538493 !important;
}

/*table log*/

/*btn refresh and transaction*/
.btn-success{
    background: #538495;
    border-color: #538495;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover,
.btn-success.focus,
.btn-success:focus{
    background: #538495;
}
/*btn actions edit delete save*/
.btn-action.active {
    background-color: #91c1d5;
    border-color: #91c1d5;
}

.btn-action.active:hover{
    background-color:#787878;
    border-color: #787878;
}

/*table log*/
.table-app table th{
    background: #6590a0;
}

.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #e2f3fa;
}

.table-app table > tbody > tr.active{
    background-color: #b2d6e4 !important;
    border: 1px solid #7da9bb !important;
}
.table-app table > tbody > tr.active td{
    background-color: inherit !important;
    border-top: 1px solid #7da9bb !important;
    border-bottom: 1px solid #7da9bb !important;
    border-right: none;
    border-left: none;
}

.table-app table > tbody > tr:hover td{
    border-top: 1px solid #7da9bb !important;
    border-bottom: 1px solid #7da9bb !important;
    border-right: none;
    border-left: none;
}
.table-app table > tbody > tr:hover{
    border: 1px solid #7da9bb !important;
    background-color: #efefef !important;
}

/*datepiker styles*/
.datepicker td.active, .datepicker td.active:hover {
    background:  #93c68b !important;
}

.glyphicon-calendar {
    color: #7da9bb;
}

.modal-header{
    background: #7da9bb;
}
.btn-add:hover{
    background-color:#92c1d3;
    border-color: #92c1d3;
}
.more{
    border: 1px solid #7da9bb;
}
.plus-text,
.minus-text,
.plus-text i,
.minus-text i{
    color: #7da9bb;
}
