/*===colors of transaction page*/
/*sidebar*/
.sidebar-menu-widget ul li.active,
.sidebar-menu-widget ul li:hover{
    border-left: 4px solid #99cc66;
}
/*menu color when active*/

/*btn refresh and transaction*/
.btn-success{
    background: #6f9d40;
}

/*btn actions edit delete save*/
.btn-action.active {
    background-color: #a2ce76;
    border-color: #a2ce76;
}
.btn-action.active:hover{
    background-color:#787878;
    border-color: #787878;
}

/*table log*/
.table-app table th{
   background: #6f9d40;
}

.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #e1eed5;
}

.table-app table > tbody > tr.active{
    background-color: #bde892 !important;
    border: 1px solid #6f9d40 !important;
}
.table-app table > tbody > tr.active td{
    background-color: inherit !important;
    border-top: 1px solid #6f9d40 !important;
    border-bottom: 1px solid #6f9d40 !important;
    border-right: none;
    border-left: none;
}

.table-app table > tbody > tr:hover td{
    border-top: 1px solid #6f9d40 !important;
    border-bottom: 1px solid #6f9d40 !important;
    border-right: none;
    border-left: none;
}
.table-app table > tbody > tr:hover{
    border: 1px solid #6f9d40 !important;
    background-color: #efefef !important;
}

/*datepiker styles*/
.datepicker td.active, .datepicker td.active:hover {
    background:  #99cc66 !important;
}

.glyphicon-calendar {
    color: #6f9d40;
}

.modal-header{
    background: #6f9d40;
}
.btn-add:hover{
    background-color:#6f9d40;
    border-color: #6f9d40;
}

.more{
    border: 1px solid #6f9d40;
}
.plus-text,
.minus-text,
.plus-text i,
.minus-text i{
   color: #6f9d40;
}
.select2-selection__clear {
    color: white !important;
    background: #6f9d40;
}
